body {
  font-family: Montserrat;
}

/* title section */
#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: Montserrat-Extra-bold 800;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 20px;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {}

.phone-img {
  padding-top: 20px;
  width: 60%;
  transform: rotate(25deg);
}

/* feature section */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

h3 {
  font-family: Montserrat;
}

p {
  color: grey;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover {
  color: skyblue;
}

/* testimonials section */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonials-img {
  width: 170px;
  border-radius: 100px;
  margin: 1rem;
}

.carousel-item {
  padding: 7% 15%;
}

/* press section */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.price-column {
  padding: 2% 3%;
}


/* cta section  */

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 15% 5%;
  color: #fff;

}

.cta-btn{
  margin: 5% 1%;
}

/* footer section  */

#footer{
  text-align: center;
  margin: 5% 15% 5%;
}

.foot-logo{
  margin: 1% 2% 2%;
}


@media query(max-width: 1028px) {
  #title{
    text-align: center;
  }

  .phone-img{
    position: static;
    transform: rotate(0);
  }

}
